*.cpython*
*.pyc*
runs/*
1b_res_pre_lr5e-4*
130m_res_pre_lr1e-3/*
130m_res_post_lr1e-3/*
130m_res_LNS_lr1e-3/*

old_checkpoints/*
130m_res_pre_*/*
130m_res_post_*/*
130m_res_LNS_*/*
mono_130m_pre*/*
debug2_130m_pre_*/*
debug_130m_pre_*/*
debug_mono*/*
logs/*